/*************************** Common styles, not required **/

html, body
{
	font-family:Consolas;
	font-size:9pt;
	background-color:#222;
	color:#bec8cb;
}

code
{
	background-color:#293730;
	color:white;
	padding:3px;
	border:1px solid #44564a;
	font-size:10pt;
}

div.example
{
	border-top:1px inset #454545;
	width:100%;
}

div.example table
{
	width:100%;
}

div.example td
{
	vertical-align:top;
	padding:15px 5px;
	width:50%;
}

h1
{
	margin-top:-2px;
}


/*************************** Meter DIV container styles **/
div.white-meter
{
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#878787 0%,
		#dedede 50%,
		#dedede 50%,
		#adaaad);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#878787),
		color-stop(0.50, #dedede),
		color-stop(0.50, #dedede),
		to(#adaaad));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 1px 1px 3px rgba(13,13,13,1);
	-webkit-box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 1px 1px 3px rgba(13,13,13,1);
	box-shadow:
		0px 1px 0px rgba(000,000,000,0.5),
		inset 1px 1px 3px rgba(13,13,13,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

	padding:5px;
}

div.metal-border {
	padding:5px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 15px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}

div.green-meter
{
	background: #073509; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #073509 0%, #355635 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#073509), color-stop(100%,#355635)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #073509 0%,#355635 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #073509 0%,#355635 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #073509 0%,#355635 100%); /* IE10+ */
	background: linear-gradient(45deg,  #073509 0%,#355635 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073509', endColorstr='#355635',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	border:1px inset #4f6f4f;
	border-radius:15px;
	padding:10px 5px 5px 5px;
}

/*************************** Meter DIV container dimensions **/
/**
 * The rest of the meter styles are configured via passing
 * in options to the .svgMeter() method
 */

#meter1,
#meter1-border
{
	height:50px;
	width:300px;

	color: #fefefe;
}

#meter2
{
	height:40px;
	width:400px;
}

#meter3A,
#meter3B,
#meter3A-border,
#meter3B-border
{
	height:130px;
	width:50px;
	float:left;
	margin:0px 16px 16px 0px;
}

#meter4
{
	height:50px;
	width:300px;
}

#meter1-border,
#meter4-border
{
	height:63px;
	width:313px;
}

#meter3A-border,
#meter3B-border
{
	height:143px;
	width:63px;
}
